<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h3>
  <strong><%= @ripple.name %> said:</strong>
</h3>

<p class='large_ripple_text'>
  <%= @ripple.message %>
</p>

<%= link_to 'Back', ripples_path %>
